/* 
---------------------------------------------
Chatroom
--------------------------------------------- 
*/

.chat-room-container {
    // border: 1px solid var(--TERTIARY-COLOR);
    box-shadow: 0px 0px 6px var(--PRIMARY-COLOR);

    .chat-head {
        height: 80px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        // margin-bottom: 5px;
        border-bottom: 1px solid var(--TERTIARY-COLOR);

        .title {
            grid-column: 2 / 5;
            align-self: center;
            // color: var(--PRIMARY-COLOR);
        }

        .side {
            align-self: flex-end;
            margin-bottom: 10px;
        }
    }

    .chat-body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .side {
            display: flex;
            flex-direction: column;
        }
    }

    /* 
    ---------------------------------------------
    Chat window
    --------------------------------------------- 
    */
    .main {
        grid-column: 2 / 5;
        height: 100%;
        border-left: 1px solid var(--TERTIARY-COLOR);
        border-right: 1px solid var(--TERTIARY-COLOR);

        .chat-window-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 550px;
            overflow-y: auto;

            .chat-window {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        .chat-form {
            textarea {
                width: 100%;
                height: 75px;
                border-top: solid 1px var(--BACKGROUND-COLOR);
            }
        }
    }


    /* 
    ---------------------------------------------
    Chat message
    --------------------------------------------- 
    */
    .chat-message {
        max-width: 350px;
        // text-align: start;
        padding: 15px;
        padding-bottom: 10px;
        word-break: break-word;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .msg-date {
            font-size: 12px;
            font-style: italic;
            border-top: var(--TERTIARY-COLOR) solid 1px;
            padding-top: 4px;
        }

        &.right {
            background-color: rgba(var(--TERTIARY-COLOR), .4);
            align-self: flex-end;
            text-align: end;
            border-radius: 35px 25px 0 35px;
            padding-left: 20px;
        }

        &.left {
            background-color: rgba(var(--TERTIARY-COLOR), .7);
            color: var(--BACKGROUND-COLOR);
            align-self: flex-start;
            text-align: start;
            border-radius: 25px 35px 35px 0;
            padding-right: 20px;

            &.deleted {
                background-color: var(--ATTENTION-BACKGROUND-COLOR);
            }
        }

        &.unreadMsg {
            border: var(--PRIMARY-COLOR) dashed 3px;
        }
    }

    /* 
    ---------------------------------------------
    Chat member
    --------------------------------------------- 
    */

    .chat-member-wrapper {
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .chat-member {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px;

            .avatar-wrapper {
                height: 50px;
                width: 50px;

                img {
                    height: 100%;
                    max-width: 100%;
                }
            }

            .name-wrapper {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &:hover {
                background-color: rgba(var(--TERTIARY-COLOR), .7);
                cursor: pointer;
            }
        }

        // .skills {
        //     display: flex;
        //     flex-wrap: wrap;
        //     justify-content: center;
        //     gap: 2.5px;

        //     .skill {
        //         background-color: #c5e1f1;
        //         border: #9db3ad dashed 1px;
        //         padding: 2.5px;
        //         font-size: 12px;
        //     }
        // }
    }

    .chat-member-item {
        border-bottom: rgba(var(--TERTIARY-COLOR), .7) solid 1px;
    }
}


/* 
---------------------------------------------
Chat list
--------------------------------------------- 
*/

.chat-list {
    display: flex;
    flex-direction: column;
    // border: red 1px solid;
    height: 100%;
    justify-content: space-between;

    .chat-link-wrapper {
        height: 550px;
        overflow-y: scroll;
    }

    .chat-link {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        padding: 5px;
        border-bottom: rgba(var(--TERTIARY-COLOR), .7) solid 1px;

        &:hover {
            // background-color: rgba(var(--PRIMARY-COLOR), .9);
            background-color: rgba(var(--TERTIARY-COLOR), .7);
            cursor: pointer;
        }
    }


    form {
        // height: auto;
        // border: yellow solid 1px;

        select {
            width: 100%;
            height: 40px;
            padding: 5px;
            color: var(--TERTIARY-COLOR);
            background-color: var(--BACKGROUND-COLOR);

            option:first-child {
                background-color: var(--SECONDARY-COLOR);
                font-size: 16px;
            }
        }

    }
}

.msg-counter {
    border-radius: 25% 10%;
    padding: 5px;
}

.noMsg {
    background-color: rgba(var(--TERTIARY-COLOR), .4);
}

.newMsg {
    background-color: rgba(var(--PRIMARY-COLOR), .8);
    border: solid 1px var(--TERTIARY-COLOR);
}


/* 
---------------------------------------------
Chat
--------------------------------------------- 
*/

.chat-list-container {
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .chat-list {
        // max-width: 1000px;
        // width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;

        .chat-link-wrapper {
            height: unset;
            overflow-y: unset;

            .chat-link:last-child {
                border: unset;
            }
        }

        form {
            display: flex;
            box-shadow: 0px 0px 6px var(--PRIMARY-COLOR);
            margin: 20px 0;

            select {
                text-align: center;
            }
        }
    }
}