/* 
---------------------------------------------
Chatroom
--------------------------------------------- 
*/

.container {
    border: black solid 1px;
    max-width: 1232px;
    margin: 50px auto;

    .chat-title {
        background-color: #63A18F;
        height: 80px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 5px;

        h2 {
            grid-column: 2 / 5;
            align-self: center;
        }

        h4 {
            align-self: flex-end;
            margin-bottom: 5px;
        }
    }
}

.chat-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

    aside {
        border: #c1dbd4 dashed 1px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    main {
        grid-column: 2 / 5;
    }
}

.chat-window-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 550px;
    overflow-y: auto;

    .chat-window {
        display: flex;
        flex-direction: column;
    }
}

/* 
---------------------------------------------
Chat message
--------------------------------------------- 
*/

.chat-message {
    max-width: 350px;
    text-align: start;
    padding: 5px;
    word-break: break-word;

    .msg-date {
        font-size: 12px;
        font-style: italic;
    }

    &.right {
        background-color: #73baa5;
        align-self: flex-end;
        text-align: end;
    }

    &.left {
        background-color: #3b554e;
        align-self: flex-start;
        text-align: start;

        &.deleted {
            background-color: #c6200a;
        }
    }

    &.unreadMsg {
        border: #c6200a dashed 2px;
    }
}



/* 
---------------------------------------------
Chat list
--------------------------------------------- 
*/

.chat-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    height: 100%;

    .chat-link-wrapper {
        height: 550px;
        overflow-y: scroll;
    }

    .chat-link {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        padding: 5px;
        border: #3b554e solid 1px;

        &:hover {
            background-color: #c1dbd4;
            cursor: pointer;
        }
    }

}

.msg-counter {
    border-radius: 25% 10%;
    padding: 5px;
}

.noMsg {
    background-color: grey;
}

.newMsg {
    background-color: red;
}

/* 
---------------------------------------------
Chat member
--------------------------------------------- 
*/

.chat-member-wrapper {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .chat-member {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;

        .avatar-wrapper {
            height: 50px;
            width: 50px;

            img {
                height: 100%;
                max-width: 100%;
            }
        }

        .name-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: #c1dbd4;
            cursor: pointer;
        }
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5px;

        .skill {
            background-color: #c5e1f1;
            border: #9db3ad dashed 1px;
            padding: 2.5px;
            font-size: 12px;
        }
    }
}

.chat-member-item {
    border: #3b554e solid 1px;
}


/* 
---------------------------------------------
General styles
--------------------------------------------- 
*/

.error-message {
    border: #c6200a dashed 1px;
    background-color: #efaabb;
    color: #c6200a;
    font-size: 14px;
    padding: 5px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #3b554e;
    color: #c1dbd4;

    &:hover {
        background-color: #73baa5;
        color: #3b554e;
    }
}

.btn-secondary {
    width: 100%;
    padding: 10px;
    background-color: #73baa5;
    color: #3b554e;

    &:hover {
        background-color: #9db3ad;
    }
}

.user-status {
    height: 10px;
    width: 10px;
    border-radius: 50%;

    &.online {
        background-color: #2eca57;
    }

    &.offline {
        background-color: #e45723;
    }
}