.user-profile-container {

  .profile-header {
    background: rgb(var(--BACKGROUND-COLOR));
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    margin-top: 4px;
    border-radius: calc(20px);
  }

  .profile-img {
    float: left;
    width: 340px;
    height: 200px;
  }

  .profile-img img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 5px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #fff;
  }

  .profile-nav-info {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
  }

  .profile-nav-info h3 {
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
  }

  .profile-nav-info .address {
    display: flex;
    font-weight: bold;
    color: rgb(var(--TERTIARY-COLOR));
  }

  .profile-nav-info .address p {
    margin-right: 5px;
  }

  .profile-option {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 83%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    outline: none;
    background: rgb(var(--QUATERNARY-COLOR));
  }

  .profile-option:hover {
    background: #fff;
    border: 1px solid rgb(var(--PRIMARY-COLOR));
  }

  .profile-option:hover .notification i {
    color: rgb(var(--PRIMARY-COLOR));
  }

  .profile-option:hover span {
    background: rgb(var(--PRIMARY-COLOR));
  }

  .profile-option .notification i {
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
  }

  .profile-option .notification .alert-message {
    position: absolute;
    top: -3px;
    right: -4px;
    background: #fff;
    color: rgb(var(--PRIMARY-COLOR));
    border: 1px solid rgb(var(--PRIMARY-COLOR));
    padding: 4px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
    border-radius: calc(20px);
    position: relative;
  }

  .profile-side {
    width: 300px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 90px 10px 20px 10px;
    font-family: "Bree Serif", serif;
    margin-left: 10px;
    z-index: 99;
    border-radius: calc(20px) 0 0 calc(20px);
    background-color: rgb(var(--BACKGROUND-COLOR));
    color: rgb(var(--TERTIARY-COLOR));

    @media (max-width: 810px) {
      border-radius: calc(20px);
    }
  }

  .profile-side p {
    margin-bottom: 7px;
    font-size: 14px;
  }

  .profile-side p i {
    color: rgb(var(--PRIMARY-COLOR));
    margin-right: 10px;
  }

  .right-side {
    width: 100%;
    background-color: rgb(var(--BACKGROUND-COLOR));
    color: rgb(var(--TERTIARY-COLOR));
    border-radius: 0 calc(20px) calc(20px) 0;
    padding: 0 10px;

    @media (max-width: 810px) {
      border-radius: calc(20px);
    }

    .profile-project {
      h3 {
        text-align: left;
        padding: 15px 0 0 4px;
      }
    }
  }

  .mobile-no i {
    transform: rotateY(180deg);
    color: rgb(var(--PRIMARY-COLOR));
  }

  .profile-btn {

    .btn {
      padding: 10px;
      width: 80%;
      margin: 20px 0 10px 0;

    }

    @media (max-width: 1024px) {
      a {
        display: flex;
        justify-content: center;
      }

      .btn {
        width: 100px;
      }
    }

  }

  button.chatbtn,
  button.createbtn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: linear-gradient(to right, #424784b0, #5d62b1);
    color: #fff;
    font-family: "Bree Serif";
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background 0.3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
  }

  button.chatbtn:hover,
  button.createbtn:hover {
    background: linear-gradient(to right, #424784b0, #2f3475);
    ;
  }

  button.chatbtn i,
  button.createbtn i {
    margin-right: 5px;
  }

  .user-bio {
    h3 {
      margin-bottom: 5px;
      text-decoration: underline;
    }
  }

  .rate {
    padding-top: 6px;
    list-style-type: none;
  }

  .rate i {
    font-size: 0.9rem;
    color: rgb(var(--PRIMARY-COLOR));
  }

  .nav {
    width: 100%;
    z-index: -1;
    color: rgb(var(--BACKGROUND-COLOR));
    font-weight: bold;
    border-radius: calc(20px);
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: 40px;
    background: rgb(var(--BACKGROUND-COLOR));
    color: rgb(var(--TERTIARY-COLOR));
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: calc(20px);
  }

  .nav ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;

    @media (max-width: 810px) {
      border-radius: calc(20px);
    }
  }

  .nav ul li:hover,
  .nav ul li.active {
    box-shadow: 0px -3px 0px rgb(var(--PRIMARY-COLOR)) inset;
    border-radius: calc(20px);
  }

  .profile-body {
    width: 100%;
    z-index: -1;
    color: rgb(var(--TERTIARY-COLOR));
  }

  .tab {
    display: none;
  }

  .tab {
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  .user-rating {
    h3 {
      text-decoration: underline;
    }
  }

  @media (max-width: 1100px) {
    .profile-side {
      width: 250px;
      padding: 90px 15px 20px;
    }

    .profile-img img {
      height: 200px;
      width: 200px;
      left: 50px;
      top: 50px;
    }
  }

  @media (max-width: 900px) {
    body {
      margin: 0 20px;
    }

    .profile-header {
      display: flex;
      height: 100%;
      flex-direction: column;
      text-align: center;
      padding-bottom: 20px;
    }

    .profile-img {
      float: left;
      width: 100%;
      height: 200px;
    }

    .profile-img img {
      position: relative;
      height: 200px;
      width: 200px;
      left: 0px;
    }

    .profile-nav-info {
      text-align: center;
    }

    .main-bd {
      flex-direction: column;
      padding-right: 0;
    }

    .profile-side {
      width: 100%;
      text-align: center;
      padding: 20px;
      margin: 5px 0;
    }

    .profile-nav-info .address {
      justify-content: center;
    }

    .user-rating {
      justify-content: center;
    }
  }

  @media (max-width: 480px) {
    .profile-img img {
      height: 150px;
      width: 150px;
    }

    .profile-option {
      right: 20px;
      top: 55%;
      transform: translateY(50%);
    }
  }

  .profile-nav-info h3 {
    font-size: 1.9rem;
    color: rgb(var(--PRIMARY-COLOR));

  }

  .profile-nav-info .address p,
  .profile-nav-info .address span {
    font-size: 0.7rem;
  }

  #see-more-bio,
  #see-less-bio {
    color: rgb(var(--PRIMARY-COLOR));
    cursor: pointer;
    text-transform: lowercase;
  }

  .tab h1 {
    font-family: "Bree Serif", sans-serif;
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }
}