
// .mainwrap-signup {
// background-color:#4a4c65b0;
// width: 400px;
// height: 100px;
// margin: 2em auto;
// border-radius: 1.5em;
// box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
// }
.loginbtn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
      background: linear-gradient(to right, #424784b0, #5d62b1);
      border: 0;
      padding-left: 80px;
      padding-right: 80px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      margin:13px;
  }

  .signup-input-field {
    width: 76%;
    color: rgb(210, 219, 224);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(243, 240, 240, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
  }

  .signup-title {
    margin-bottom: 20px;
    padding-top: 40px;
    color:#ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 35px;
  }


.sign-col-25 {
   margin-bottom: 6px;
 }


  .signup-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .login-title-labels{
      font-size: 19px;
  }

//   .signup-checkbox-genres-wrapper {
//     background-color: #4a4c65b0;
//     }