@import '../../consts/colors.scss';

nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: $PRIMARY-COLOR;
    box-shadow: 0px 0px 6px $TERTIARY-COLOR;
}