nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0px 0px 6px rgb(var(--TERTIARY-COLOR));
}

nav ul {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}

nav li {
  font-size: 13px;
  line-height: 100px;
  padding-left: 0.8rem;
  text-transform: uppercase;

  a {
    display: flex;
  }
}

.logouticon {
  height: 25px;
  position: center;
}

.bimusicicon2 {
  height: 150px;
  position: center;
  margin: 0;
  margin-top: 20px;
}

.logouticon {
  height: 50px;
}

.menu-icon {
  display: none;
  height: 50px;
  width: 50px;
}

/* 
---------------------------------------------
burger menu
--------------------------------------------- 
*/
@media (max-width: 768px) {
  nav {
    position: relative;

    ul {
      flex-direction: column;
      background-color: rgb(var(--BACKGROUND-COLOR));
      z-index: 20;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      height: fit-content;
      align-items: flex-end;

      li {
        background-color: rgb(var(--BACKGROUND-COLOR));
        line-height: 40px;
        width: fit-content;
        margin-right: 20px;

        a {
          text-align: right;
        }
      }

      &.show {
        display: flex;
      }

      &.hide {
        display: none;
      }
    }

    .menu-icon {
      display: block;
    }
  }
}