/* 
---------------------------------------------
Colors
--------------------------------------------- 
*/

$BACKGROUND-COLOR: #1E1E1E;
$PRIMARY-COLOR: #00C2CB;
$SECONDARY-COLOR: #0f5a5e;
$TERTIARY-COLOR: #f0fafb;