/* 
---------------------------------------------
Colors
--------------------------------------------- 
*/

$BACKGROUND-COLOR: rgb(30, 30, 30);
$PRIMARY-COLOR: rgb(0, 194, 203);
$SECONDARY-COLOR: rgb(15, 90, 94);
$TERTIARY-COLOR: rgb(240, 250, 251);