/* Login Page */

#mainwraplogin {
  position: relative;
  background-color: rgb(var(--BACKGROUND-COLOR));
  border-radius: 20px;
  height: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: center;
    }
  }

  // Border gradient
  .gradient {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border-radius: 16px;
    border-image-slice: 1;
    border-width: 5px;
    background: linear-gradient(to left, rgb(var(--QUATERNARY-COLOR)), rgb(var(--PRIMARY-COLOR)));
    border-radius: 20px;
    z-index: -1;

  }
}

.login-input-field {
  width: 100%;
  color: rgb(210, 219, 224);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(243, 240, 240, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.login-title {
  margin-bottom: 20px;
  padding-top: 40px;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 35px;
}


.login-col-25 {
  margin-bottom: 6px;
}

.login-col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.login-row {
  width: 100%;
}

.login-row:after {
  content: "";
  display: table;
  clear: both;
}

.login-title-labels {
  font-size: 19px;
}