// body{
//   background-image: linear-gradient(0deg, #434343 0%, #000000 100%);



// }

.upload__form__c-proj {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;


  .up__f__c {
    position: relative;
    // border: 5px solid #15883e;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--TERTIARY-COLOR));
    font-size: 15px;
    margin: 0 auto;
    max-width: 85%;
    width: 100%;
    color: rgb(var(--BACKGROUND-COLOR));
    padding: 10px;
    // box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .upload__title {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
    // text-shadow: 0px 1px px rgba(0, 0, 0, 0.2);
  }

  .upload__inputs {
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    margin-left: 0rem;
    height: 30px;
    width: 95%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid rgba(var(--BACKGROUND-COLOR), 0.02);
    padding: 0 10px;
    box-shadow: 0px 2px 10px rgba(var(--BACKGROUND-COLOR), 0.2);
    background: rgba(var(--BACKGROUND-COLOR), 0.04);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
  }

  .year__input {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 95%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid rgba(var(--BACKGROUND-COLOR), 0.02);
    padding: 0 10px;
    box-shadow: 0px 2px 10px rgba(var(--BACKGROUND-COLOR), 0.2);
    background: rgba(var(--BACKGROUND-COLOR), 0.04);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
  }

  .textarea__input {
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    margin-left: 0rem;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    width: 95%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid rgba(var(--BACKGROUND-COLOR), 0.02);
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background: rgba(var(--BACKGROUND-COLOR), 0.04);
  }

  .upload_referenceLink {
    display: flex;
    justify-content: center;
    margin-left: 0rem;
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid rgba(var(--BACKGROUND-COLOR), 0.02);
    padding-left: 10px;
    box-shadow: 0px 2px 10px rgba(var(--BACKGROUND-COLOR), 0.2);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
  }

  .label-title {
    text-align: left;
    margin-left: 0.5rem;
    margin-bottom: 0%;
    padding: 10px;
  }

  .tags-title-label {
    text-align: left;
    // margin-left: 0.5rem;
    // padding-bottom: 0.5%;
  }

  .required {
    color: rgb(var(--QUATERNARY-COLOR));
  }

  .required-fields {
    display: flex;
    font-size: 12px;

    @media (max-width: 480px) {
      justify-content: center;
    }

  }

  .container-genres {
    max-width: 640px;
    font-size: 13px;
    padding: 0%;
    margin-top: 0%;
  }

  .checkbox-genres-wrapper {
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }
  }

  .genre-upload-track {
    padding: 5px;
  }

  .project-create-check {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .emojis {
    font-size: 20px;
  }

  // Border gradient
  .gradient {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border-radius: 16px;
    border-image-slice: 1;
    border-width: 5px;
    background: linear-gradient(to left, rgb(var(--QUATERNARY-COLOR)), rgb(var(--PRIMARY-COLOR)));
    border-radius: 20px;
    z-index: -1;

  }
}