@import '../../consts/colors.scss';

/* 
---------------------------------------------
Projects
--------------------------------------------- 
*/
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 80vw;
    margin: 50px auto;
}

/* 
---------------------------------------------
Project card
--------------------------------------------- 
*/
.project-card {
    border: 1px solid $PRIMARY-COLOR;
    box-shadow: 0px 0px 6px $TERTIARY-COLOR;
    min-width: 250px;
    height: auto;
    // padding-top: 10px;

    &:hover {
        box-shadow: 0px 0px 12px $PRIMARY-COLOR;

        .card-head {
            box-shadow: 0px 0px 6px $PRIMARY-COLOR;
            border-bottom-color: $PRIMARY-COLOR;
        }
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .card-head {
        border-bottom: 1px solid $TERTIARY-COLOR;
        box-shadow: 0px 0px 6px $TERTIARY-COLOR;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        h3 {
            text-align: start;
        }

        // p {
        //     margin-top: 5px;
        //     font-size: 14px;
        //     text-align: justify;
        // }

        .date-location {
            // display: flex;
            text-align: end;
            gap: 10px;
            padding: 5px;
            font-size: 14px;

            // .location {
            //     &:before {
            //         content: "[";
            //     }

            //     &:after {
            //         content: "]";
            //     }
            // }
        }
    }

    .card-body {
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
        display: flex;
        justify-content: space-between;
        gap: 10px;
        height: 100%;
        padding: 10px 0 10px 10px;

        // .looking-for {
        //     // display: grid;
        //     grid-column: 1/2;


        //     img {
        //         height: 55px;
        //         border-radius: 50%;
        //     }

        // }

        // .skill-wrapper {
        //     grid-column: 2/5;
        //     // display: flex;
        //     // flex-wrap: wrap;
        //     gap: 10px;

        //     .skill {
        //         &:nth-child(2n) {
        //             color: $PRIMARY-COLOR;
        //             font-size: 22px;
        //         }

        //         &:nth-child(2n+1) {
        //             color: $TERTIARY-COLOR;
        //             font-size: 18px;
        //         }
        //     }

        // }

        .item-wrapper {
            // grid-column: 5/6;
            display: flex;
            flex-direction: column;
            gap: 5px;

            // justify-content: center;
            // flex-wrap: wrap;
            // gap: 4px;
            // span {
            //     &::before {
            //         content: ", ";
            //     }
            // }

            // p {
            //     padding: 3px;
            //     margin: 8px 0;
            // }

            &.skill {
                text-align: left;

                p {
                    background-color: rgba($PRIMARY-COLOR, 0.5);
                }
            }

            &.genre {
                text-align: right;

                p {
                    background-color: rgba($PRIMARY-COLOR, 0.5);
                }
            }

        }

        // .time-location {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        // }

        // .icon-wrapper {
        //     grid-column: 5/6;
        // }
    }

    .card-bottom {
        background-color: $PRIMARY-COLOR;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .initiator {
            // color: $PRIMARY-COLOR;
            font-weight: bold;
        }
    }




    // .icon-wrapper {
    //     display: flex;
    //     align-items: center;
    // }

    .icon {
        height: 30px;
    }

    .grayout {
        filter: grayscale(100%)
    }
}

// ...

.project-detail-wrapper {
    // display: flex;
    width: 80vw;
    max-width: 1200px;
    margin: auto;
    height: 600px;
}

.project-detail {
    display: grid;
    grid-template-columns: repeat (5, 1fr);
}

.participants {
    grid-column: 1 / 2;
    background-color: #63A18F;
    min-width: 150px;
    color: #fff;

    img {
        width: 70px;
    }
}

.main {
    grid-column: 2/4;
    padding: 20px 50px;
    width: auto;

    p {
        overflow-wrap: break-word;
        word-break: break-word;
    }
}

.aside {
    grid-column: 4/6;
    border: #63A18F solid 2px;
    width: 100px;
    min-width: 150px;
}