/* 
---------------------------------------------
Projects
--------------------------------------------- 
*/
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 480px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .head {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 10px 0 20px 0;

        h2 {
            padding: 0 15px 5px 0;
        }

        @media (max-width: 768px) {
            flex-direction: column;

            .btn {
                margin-left: 0;
            }

            h2 {
                padding-bottom: 15px;
            }
        }

        @media (max-width: 480px) {
            align-items: center;

            .btn {
                margin: auto;
            }
        }
    }

    .filter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 20px;

        .filter-icon {
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                height: 30px;
                width: 30px;
            }
        }

    }

    .project-card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        // max-width: 80vw;
        // margin: 50px auto;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }

    }
}