.App {
  /* 
  ---------------------------------------------
  Colors
  --------------------------------------------- 
  */
  @import './consts/colors.scss';

  /* 
    ---------------------------------------------
    Fonts
    --------------------------------------------- 
  */

  // @font-face {
  //   font-family: bangers;
  //   src: url(/assets/fonts/Bangers/Bangers-Regular.ttf);
  // }

  // @font-face {
  //   font-family: poppins;
  //   src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
  // }



  /* 
  ---------------------------------------------
  General styles
  --------------------------------------------- 
  */
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  // border: yellow solid 1px;

  &>div {
    // border: $PRIMARY-COLOR solid 1px;
    width: 80%;
    max-width: 1500px;
    height: 100%;
    margin: auto;
    padding: 10px;
  }

  .user-status {
    height: 10px;
    width: 10px;
    border-radius: 50%;

    &.online {
      background-color: #2eca57;
    }

    &.offline {
      background-color: #e45723;
    }
  }

  /* 
  ---------------------------------------------
  Buttons
  --------------------------------------------- 
  */

  .btn {
    width: 100%;
    padding: 10px;

    &.primary {
      background-color: $PRIMARY-COLOR;
      color: $SECONDARY-COLOR;
      font-size: 18px;

      &:hover {
        background-color: $SECONDARY-COLOR;
        color: $TERTIARY-COLOR;
      }
    }

    &.secondary {
      background-color: $SECONDARY-COLOR;
      color: #3b554e;

      &:hover {
        background-color: #9db3ad;
      }
    }

    &.tertiary {
      background-color: #c1dbd4;
      color: #73baa5;

      &:hover {
        background-color: #9db3ad;
      }
    }
  }

  /* 
  ---------------------------------------------
  Error messages
  --------------------------------------------- 
  */

  .error-message {
    border: #c6200a dashed 1px;
    background-color: #efaabb;
    color: #c6200a;
    font-size: 14px;
    padding: 5px;
  }

  /* 
---------------------------------------------
breakpoint 1024px
--------------------------------------------- 
*/
  @media (max-width: 1024px) {
    &>div {
      border: purple solid 1px;
      max-width: 976px;
      margin: auto;
    }
  }

  /* 
---------------------------------------------
breakpoint 768px
--------------------------------------------- 
*/
  @media (max-width: 768px) {
    &>div {
      border: blue solid 1px;
      max-width: 736;
      margin: auto;
    }
  }

  /* 
---------------------------------------------
breakpoint 480px
--------------------------------------------- 
*/
  @media (max-width: 480px) {
    &>div {
      border: green solid 1px;
      max-width: 90%;
      margin: auto;
    }
  }
}