  /* 
    ---------------------------------------------
    Colors
    --------------------------------------------- 
  */

  @import './consts/colors.scss';

  /* 
  ---------------------------------------------
  Reset CSS
  --------------------------------------------- 
  */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* 
  ---------------------------------------------
  Global Styles
  --------------------------------------------- 
  */

  body {
    margin: 0;
    background-color: $BACKGROUND-COLOR;
    color: $TERTIARY-COLOR;
    font-family: "Poppins", sans-serif;
  }