/* 
---------------------------------------------
Colors
--------------------------------------------- 
*/
:root {
  --BACKGROUND-COLOR: 30, 30, 30;
  --PRIMARY-COLOR: 0, 194, 203;
  --SECONDARY-COLOR: 15, 90, 94;
  --TERTIARY-COLOR: 240, 250, 251;

  /* delete btn and error messages */
  --ATTENTION-BACKGROUND-COLOR: 239, 170, 187;
  --ATTENTION-TEXT-COLOR: 198, 32, 10;
}

/* 
  ---------------------------------------------
  Reset CSS
  --------------------------------------------- 
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

/* 
  ---------------------------------------------
  Global Styles
  --------------------------------------------- 
  */

body {
  margin: 0;
  background-color: rgb(var(--BACKGROUND-COLOR));
  color: rgb(var(--TERTIARY-COLOR));
  font-family: "Poppins", sans-serif;
}